#!/usr/bin/bash

# Navigations
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias cl="clear && ls -a"
alias cp='cp -Rv'
alias ls='ls --color=auto -ACF'
alias ll='ls --color=auto -alF'
alias grep='grep --color=auto'
alias grepw='grep --color=auto -Hrnwi'
alias mkdir='mkdir -pv'
alias rm="rm -rfv"
alias mv='mv -v'

#Git
alias gstat="git status"
alias gini="git init"
alias gcom="git commit -m"
alias gadd="git add"
alias goto='git checkout'
alias g.="git add ."

# Youtube-dl
alias yte="youtube-dl --external-downloader aria2c --external-downloader-args '-c -j 3 -x 3 -s 3 -k 1M'"
alias yta="youtube-dl --extract-audio --audio-format mp3 --external-downloader aria2c --external-downloader-args '-c -j 3 -x 3 -s 3 -k 1M'"
alias ytp="youtube-dl -o '%(playlist_index)s %(title)s.%(ext)s' --external-downloader aria2c --external-downloader-args '-c -j 3 -x 3 -s 3 -k 1M'"

# Aria2c
alias ariaf="aria2c --max-concurrent-downloads=1 --file-allocation=none"
alias ator="aria2c --max-concurrent-downloads=1 --file-allocation=none --seed-time=0"

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Human-readable disk usage.
alias dfh="df -Tha --total"

# Reload shell.
 alias reload="exec $SHELL -l"
